<form class="container" action="/player/create" method="post">
    <div class="mb-3">
        <label class="form-label">Player ID</label>
        <input type="number" class="form-control" name="id" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Item ID</label>
        <input type="text" class="form-control" name="name" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Count</label>
        <input type="text" class="form-control" name="description" required>
    </div>
    <!-- Add more PlayerItem attributes as needed -->
    <button type="submit" class="btn btn-primary">Associate Player and Item</button>
</form>